{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Enroll Class{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}


{% block page_content %}
    {{ super() }}
    <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
        <div class="row">
            <div class="col">
                <h1>{{ student.first_name }} {{ student.last_name }}</h1>
            </div>
        </div>

        {% for current_class in current_classes %}
            <div class="row border-bottom border-top mt-2">
                <div class="col align-self-center">{{ current_class.school.name }}</div>
                <div class="col align-self-center">
                    <a href="{{ url_for('schdl_class.enroll_class', student_id=student.id, class_id=current_class.id) }}">
                        <div style="color:{{ current_class.subject.color }} "
                             class="font-weight-bold align-self-center">{{ current_class.subject.name }}</div>
                    </a></div>
                <div class="col align-self-center">{{ current_class.day_of_week }}
                    {% if current_class.class_time_start and current_class.class_time_end %} <br>
                        {{ current_class.class_time_start | ctimeformat }}
                        - {{ current_class.class_time_end | ctimeformat }}
                    {% endif %}
                </div>
                <div class="col align-self-center">${{ current_class.price }}</div>
                    {% if current_class in enrolled_classes %}
                <div class="col text-center col-md-3 text-md-left align-self-center">
                        <a class="btn btn-success"
                           href="#"
                           role="button">Already Enrolled</a>
                    </div>
                    {% elif current_user.stripe_id %}
                    <div class="col text-center col-md-3 text-md-left align-self-center">
                        <a class="btn btn btn-outline-success"
                           href="{{ url_for('schdl_class.payment_class', class_id=current_class.id, student_id=student.id) }}"
                           role="button">Pay with your card ${{ current_class.price }}</a>
                    </div>
                    {% endif %}
                <div class="col text-center col-md-3 text-md-right align-self-center">
                    <a class="btn btn-info"
                       href="{{ url_for('schdl_class.enroll_class', student_id=student.id, class_id=current_class.id) }}"
                       role="button">Register / Class Information</a>
                </div>
            </div>
        {% endfor %}

        {% if current_school.agreement %}
            <div class="row mt-5">
                <div class="col">
                <div class="alert alert-danger" role="alert">
                    {{ current_school.agreement | safe }}
                </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
{% endblock %}