{% extends "dashboard/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}{{ _('Student Info') }}{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}


{% block page_content %}
    {{ super() }}
    <div class="row">
    <div class="col">
        <h1>{{ student.first_name }} {{ student.last_name }}</h1>
        <small>
            {{ _('Created:') }} {{ moment(student.timestamp).format('L LT') }}
        </small>
    </div>
    </div>
    <div class="row">
    <div class="col">
        <h3>{{ _('Student Info') }}</h3>
    </div>
    </div>
    <div class="row">
    <div class="col">
        {{ _('DOB:') }} {{ student.dob | cdateformat }} <br>
    {% if student.gender == 1 %}
        {{ _('Gender:') }} {{ _('Boy') }} <br>
    {% else %}
        {{ _('Gender:') }} {{ _('Girl') }} <br>
    {% endif %}
        </div>
    </div>
    <div class="row">
    <div class="col">
        {{ _('Note about student:') }} {{ student.note }}<br>
        </div>
    </div>
    <div class="row">
    <div class="col">
        <h3>{{ _('User Info') }}</h3>
        </div>
    </div>
    <div class="row">
    <div class="col">
        {{ _('User:') }} <a
            href="{{ url_for('user.user_info', user_id=student.user.id) }}">{{ student.user.first_name }} {{ student.user.last_name }}</a><br>
        </div>
    </div>
    <div class="row">
    <div class="col">
        {{ _('Note about User:') }} {{ student.user.note }}<br>
        </div>
    </div>
    <div class="row">
    <div class="col">
    {% for contact in student.user.contacts %}
        {{ _('Email:') }} {{ contact.email }}<br>
        {{ _('Phone:') }} {{ contact.phone }}<br>
        {{ _('Address:') }} {{ contact.address1 }} {{ contact.address2 }} {{ contact.city }} {{ contact.state }}
        {{ contact.zip }}
        <br>
    {% endfor %}
        </div>
    </div>
    <div class="row">
    <div class="col">
        <h3>{{ _('Classes Info') }}</h3>
        </div>
    </div>
    <div class="row">
    <div class="col">
        {% for enrollment in student.enrollments %}
            <a href="{{ url_for('schdl_class.info_class', class_id=enrollment.schdl_class.id) }}">{{ enrollment.schdl_class.subject.name }}
                @ {{ enrollment.schdl_class.school.name }}</a><br>
    {% endfor %}
    </div>
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}