{% extends "dashboard/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Student List{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.2/b-colvis-1.5.2/b-html5-1.5.2/b-print-1.5.2/r-2.2.2/sl-1.2.6/datatables.min.css"/>
{% endblock %}


{% block page_content %}
    {{ super() }}
    <div class="row">
        <div class="col-md-3 offset-md-9">
                <a class="btn btn-outline-primary" href="{{ url_for('student.student_all_list') }}" role="button">Show Not Enrolled
                    Students</a>
            {#  <a class="btn btn-outline-success" href="{{ url_for('student.add_student') }}" role="button">Add New
                Student</a> #}
        </div>

    </div>

    <h1>List of students</h1>
    <form method="POST" action="" id="theForm">
        <table class="table table-hover table-bordered" id="maintable">
            <caption>List of students</caption>
            <thead>
            <tr id="filterrow">
                <th></th>
                <th id="filtercol">Student Name</th>
                <th id="filtercol">School</th>
                <th id="filtercol">Type</th>
                <th id="filtercol">Class</th>
                <th id="filtercol">Day</th>
                <th id="filtercol">Time</th>
                <th id="filtercol">Phone</th>
                <th id="filtercol">Email</th>
                <th id="filtercol">Note</th>
                <th></th>
            </tr>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Student Name</th>
                <th class="text-center">School</th>
                <th class="text-center">Type</th>
                <th class="text-center">Class</th>
                <th class="text-center">Day</th>
                <th class="text-center">Time</th>
                <th class="text-center">Phone</th>
                <th class="text-center">Email</th>
                <th class="text-center">Note</th>
                <th class="text-center">Edit</th>
            </tr>
            </thead>
            <tbody>
            {# student/student_list_rows.html generates all rows for that table #}
            {{ students_html|safe }}
            </tbody>
        </table>
        <!-- <select name="actionselect" id="actionselect">
            <option value="">with selection</option>
            <option value="call">Robo Call</option>
            <option value="txt">Send txt</option>
            <option value="email">Send email</option>
            <option value="labels">Print Labels</option>
        </select>
        <button id="submit">Submit</button> -->
    </form>




{% endblock %}


{% block scripts %}
    {{ super() }}
    {% include 'dashboard/datatable.html' %}
{% endblock %}