{% for student in current_class.students %}
    <tr>
        <td><input type="hidden" name="students" value="{{ student.id }}"></td>
        <td>{{ student.first_name }} {{ student.last_name }}</td>
        <td>{{ current_class.school.name }}</td>
        <td bgcolor="{{ current_class.subject.color }}">{{ current_class.subject.name }}</td>
        <td>{{ current_class.day_of_week }}</td>
        {% if current_class.class_time_start and current_class.class_time_end %}
            <td>{{ current_class.class_time_start | ctimeformat }}
                - {{ current_class.class_time_end | ctimeformat }}</td>
        {% else %}
            <td></td>
        {% endif %}
        {% if student.dob %}
            <td>{{ student.dob | cdateformat }}</td>
        {% else %}
            <td></td>
        {% endif %}

        {# if user has contacts - show emails and phones #}
        {% if student.user.contacts %}
            <td>{% for contact in student.user.contacts %}
                {{ contact.phone }}
            {% endfor %}
            </td>
            <td>{% for contact in student.user.contacts %}
                {{ contact.email }}
            {% endfor %}</td>
        {% else %}
            <td></td>
            <td></td>
        {% endif %}

        <td>{{ student.note }}</td>
        <td><a href="{{ url_for('student.edit_student', student_id=student.id) }}">Edit</a></td>
    </tr>
{% endfor %}
