{% for enrollment in current_class.enrollments %}

    {% set student = enrollment.student %}
    <tr>
        <td><input type="hidden" name="students" value="{{ student.id }}"></td>
        <td>
            <a href="{{ url_for('student.info', student_id=student.id) }}">
                {% if not enrollment.current %}
                    {{ _('[DROPPED]') }}
                {% endif %}
                {{ student.first_name }} {{ student.last_name }}</a>
        </td>
        <td>{{ current_class.school.name }}</td>
        <td>{{ current_class.school.type }}</td>
        <td bgcolor="{{ current_class.subject.color }}">{{ current_class.subject.name }}</td>
        <td>{{ current_class.day_of_week }}
            {% if current_class.class_time_start and current_class.class_time_end %}
                <br>{{ current_class.class_time_start | ctimeformat }}
                - {{ current_class.class_time_end | ctimeformat }}
            {% endif %}
        </td>


        {# if user has contacts - show emails and phones #}
        {% if student.user.contacts %}
            <td>{% for contact in student.user.contacts %}
                {{ contact.phone }}
            {% endfor %}
            </td>
            <td>{% for contact in student.user.contacts %}
                <a href="mailto:{{ contact.email }}" target="_top">{{ contact.email }}</a>
            {% endfor %}</td>
        {% else %}
            <td></td>
            <td></td>
        {% endif %}

        <td>{{ student.note }}</td>
        <td><a href="{{ url_for('student.edit_student', student_id=student.id) }}">{{ _('Edit') }}</a></td>
    </tr>
{% endfor %}
