{% extends "dashboard/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}{{ _('School') }}{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}


{% block page_content %}
    {{ super() }}
    <div class="row justify-content-center">
        {% if action == 'add' %}
            <form method="POST" action="{{ url_for('school.school_add') }}">
            <div class="form-group row">
                <h1>{{ _('Add school') }}</h1>
            </div>
        {% else %}
            <form method="POST" action="{{ url_for('school.school_edit', school_id=school.id) }}">
            <div class="form-group row">
                <h1>{{ _('Edit school') }}</h1>
            </div>
        {% endif %}
        {{ form.csrf_token }}
        <div class="form-group row">
            {{ form.name(size=30, class="form-control", placeholder=_('School name')) }}
        </div>
        <div class="form-group row">
            {{ form.short_name(size=30, class="form-control", placeholder=_('Short School name')) }}
        </div>
        <div class="form-group row">
            {{ form.director_name(size=30, class="form-control", placeholder=_('Director name')) }}
        </div>
        <div class="form-group row">
            {{ form.note(size=30, class="form-control", placeholder=_('Note')) }}
        </div>
        <div class="form-group row">
            {{ form.agreement.label(class="form-control-label") }}
            {{ form.agreement(size=30, class="form-control", placeholder=_('Additional Agreement For Parents')) }}
        </div>
        <div class="form-group row">
            {{ form.type.label(class="form-control-label") }}
            {{ form.type(class="form-control") }}
        </div>
        <div class="form-group row">
            <div class="form-check mr-auto">
                {{ form.current(class="form-check-input") }}
                <label class="form-check-label" for="current">
                    {{ _('current school') }}
                </label>
            </div>
        </div>
        <div class="form-group row">
            <div class="form-check mr-auto">
                {{ form.hide_from_users(class="form-check-input") }}
                <label class="form-check-label" for="hide_from_users">
                    {{ _('Hide School from Users') }}
                </label>
            </div>
        </div>
        <div class="form-group row">
            {{ form.recaptcha }}
        </div>
        <div class="form-group row">
            <button type="submit" id="recaptcha-submit" class="btn btn-primary">{{ _('Submit') }}</button>
        </div>
        </form>
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
{% endblock %}