{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}{{ parent.first_name }} {{ parent.last_name }} - Info{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}


{% block page_content %}
    {{ super() }}
    <a href="{{ url_for('parent.add_parent') }}"> Add Parent</a>>
    <table>
        <tbody>
        <tr>
            <td>Parent First Name</td>
            <td>Parent Last Name</td>
            <td>Edit</td>
        </tr>
            <tr>
                <td>{{ parent.first_name}} </td>
                <td>{{ parent.last_name}} </td>
                <td><a href="{{ url_for('parent.edit_parent', parent_id=parent.id)}}">Edit</a>></td>
            </tr>
        </tbody>
    </table>
{% endblock %}


{% block scripts %}
    {{ super() }}
{% endblock %}