{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Payment failed{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}


{% block page_content %}
    {{ super() }}
    <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
        <div class="row">
            <div class="col">
                <h1>Payment failed</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ charge.failure_message }}
                Please try different card.
                <!--Update Card Button-->
                {% include 'payment/add_card_button.html' %}
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
{% endblock %}