{% block my_payments %}
    {# Table of User's payments #}
    <table class="table table-striped table-hover table-responsive-md">
        <thead>
        <tr>
            <th>{{ _('Date') }}</th>
            <th>{{ _('Amount') }}</th>
            <th>{{ _('Card') }}</th>
            <th>{{ _('Description') }}</th>
            <th>{{ _('Status') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for payment in payments %}
            <tr>
                <td>{{ moment(payment.created | ctime).format('L LT') }}</td>
                <td>{{ payment.amount/100 }} {{ payment.currency }}</td>
                <td>{{ payment.source.brand }}-{{ payment.source.last4 }}</td>
                <td>{{ payment.description }}</td>
                {% if payment.amount_refunded > 0 %}
                    <td>{{ _('Refunded') }} {{ payment.amount_refunded/100 }} {{ payment.currency }}</td>
                {% else %}
                    <td>{{ payment.status }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}