{% extends "dashboard/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Teacher{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}


{% block page_content %}
    {{ super() }}
    <div class="row justify-content-center">
        {% if action == 'add' %}
            <form method="POST" action="{{ url_for('teacher.teacher_add') }}">
            <div class="form-group row">
                <h1>Add Teacher</h1>
            </div>
        {% else %}
            <form method="POST" action="{{ url_for('teacher.teacher_edit', teacher_id=teacher_id) }}">
            <div class="form-group row">
                <h1>Edit Teacher</h1>
            </div>
        {% endif %}
        {{ form.csrf_token }}
        <div class="form-group row">
            {{ form.note(size=30, class="form-control", placeholder="Note") }}
        </div>
        <div class="form-group row">
            <div class="form-check mr-auto">
                {{ form.current(class="form-check-input") }}
                <label class="form-check-label" for="agreement">
                    current teacher
                </label>
            </div>
        </div>

        <div class="form-group row">
            {{ form.recaptcha }}
        </div>
        <div class="form-group row">
            <button type="submit" id="recaptcha-submit" class="btn btn-primary">Submit</button>
        </div>
        </form>
    </div>
    </form>
{% endblock %}


{% block scripts %}
    {{ super() }}
{% endblock %}