{% extends "admin/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}{{ teacher.user.first_name }} {{ teacher.user.last_name }} - Info{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}


{% block page_content %}
    {{ super() }}
    <div class="row">
        <h1>{{ teacher.user.first_name }} {{ teacher.user.last_name }} </h1>
    </div>
    <div class="row">
        Director:
    </div>
    <table>
        <tbody>
        <tr>
            <td>School name</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="{{ url_for('teacher.teacher_edit', teacher_id=teacher.id) }}">Edit</a>></td>
        </tr>
        </tbody>
    </table>
{% endblock %}


{% block scripts %}
    {{ super() }}
{% endblock %}