{% extends "dashboard/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}{{ _('Teacher Info') }}{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}


{% block page_content %}
    {{ super() }}
    <div class="row">
        <div class="col">
            <h1><a href="{{ url_for('user.user_info', user_id=teacher.user.id) }}">
                {{ teacher.user.first_name }} {{ teacher.user.last_name }}</a>
                <small><a class="far fa-edit" href="{{ url_for('teacher.teacher_edit', teacher_id=teacher.id) }}"
                          role="button" data-toggle="tooltip" title="edit" style="color: blue"></a></small>
            </h1>
        </div>
    </div>
    {# Contact Information #}
    <div class="row">
        <div class="col">
            <h3>{{ _('Contact Information') }}</h3>
        </div>
    </div>
    {% for contact in teacher.user.contacts %}
        <div class="row">
            <div class="col">
                {{ _('Email') }}: <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
            </div>
        </div>
        {% if contact.phone %}
            <div class="row">
                <div class="col">
                    {{ _('Phone') }}: <a href="{{ url_for('txtmsg.send_msg', to_phone=contact.phone ) }}"
                                         target="_blank">{{ _('{first}-{second}-{third}'.format(first=contact.phone[0:3], second=contact.phone[3:6], third=contact.phone[6:10])) }}</a>
                </div>
            </div>
        {% endif %}
        {% if contact.address1 %}
            <div class="row">
                <div class="col">
                    {{ _('Address') }}: {{ contact.address1 }} {{ contact.address2 }}, {{ contact.city }} {{ contact.state }} {{ contact.zip }}
                </div>
            </div>
        {% endif %}
    {% endfor %}

    {# Class Information #}
    <div class="row mt-5">
        <div class="col">
            <h3>{{ _('Class Information') }}</h3>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <h5>{{ _('Current Classes') }}</h5>
        </div>
    </div>
    {% for current_class in teacher.classes %}
        {% if current_class.current %}
            <div class="row">
                <div class="col">
                    <a href="{{ url_for('schdl_class.info_class', class_id=current_class.id) }}">{{ current_class.subject.name }}
                        @ {{ current_class.school.name }}
                        - {{ current_class.day_of_week }} {{ current_class.class_time_start }}</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <div class="row mt-3">
        <div class="col">
            <h5>{{ _('Previous Classes') }}</h5>
        </div>
    </div>

    {% for current_class in teacher.classes %}
        {% if not current_class.current %}
            <div class="row">
                <div class="col">
                    <a href="{{ url_for('schdl_class.info_class', class_id=current_class.id) }}">{{ current_class.subject.name }}
                        @ {{ current_class.school.name }}
                        - {{ current_class.day_of_week }} {{ current_class.class_time_start }}</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <div class="row mt-3">
        <div class="col">
            <h5>{{ _('Events') }}</h5>
        </div>
    </div>

    {% for current_event in teacher.events %}
            <div class="row">
                <div class="col">
                    <a href="#">{{ current_event.event.schdl_class.day_of_week }}${{ current_event.payrate }}</a>
                </div>
            </div>
    {% endfor %}


{% endblock %}


{% block scripts %}
    {{ super() }}
{% endblock %}
