{% extends "dashboard/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}{{ _('Teacher Info') }}{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}


{% block page_content %}
    {{ super() }}
    <div class="row">
        <h1>{{ teacher.user.first_name }} {{ teacher.user.last_name }} </h1>
    </div>
    <div class="row">
        {{ _('Director:') }}
    </div>
    <table>
        <tbody>
        <tr>
            <td>{{ _('School name') }}</td>
            <td>{{ _('Edit') }}</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="{{ url_for('teacher.teacher_edit', teacher_id=teacher.id) }}">{{ _('Edit') }}</a>></td>
        </tr>
        </tbody>
    </table>
{% endblock %}


{% block scripts %}
    {{ super() }}
{% endblock %}