{% extends "admin/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Teacher List{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.2/b-colvis-1.5.2/b-html5-1.5.2/b-print-1.5.2/r-2.2.2/sl-1.2.6/datatables.min.css"/>
{% endblock %}


{% block page_content %}
    {{ super() }}
    <div class="row">
        <div class="col text-left">
            <h1>Teacher List</h1>
        </div>
        <div class="col text-right">
            {% if current_teachers_only %}
                <a class="btn btn-outline-primary" href="{{ url_for('teacher.teacher_all_list') }}" role="button">Show
                    All
                    Teachers</a>
            {% else %}
                <a class="btn btn-outline-primary" href="{{ url_for('teacher.teacher_list') }}" role="button">Show
                    Current
                    Teachers</a>
            {% endif %}
            <a class="btn btn-outline-success" href="{{ url_for('teacher.teacher_add') }}" role="button">Add New
                Teacher</a>
        </div>

    </div>

    <form method="POST" action="" id="theForm">
        <table class="table table-hover table-bordered" id="maintable">
            <thead>
            <tr id="filterrow">
                <th></th>
                <th id="filtercol">First Name</th>
                <th id="filtercol">Last Name</th>
                <th id="filtercol">Note</th>
                <th></th>
            </tr>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">First Name</th>
                <th class="text-center">Last Name</th>
                <th class="text-center">Note</th>
                <th class="text-center">Info</th>
            </tr>
            </thead>
            <tbody>
            {% for teacher in teachers %}
                <tr>
                    <td><input type="hidden" name="teachers" value="{{ teacher.id }}"></td>
                    <td>{{ teacher.user.first_name }}</td>
                    <td>{{ teacher.user.last_name }}</td>
                    <td>{{ teacher.note }}</td>
                    <td><a href="{{ url_for('teacher.teacher_info', teacher_id=teacher.id) }}">Info</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <select name="actionselect" id="actionselect">
            <option value="">with selection</option>
            <option value="txt">Send txt</option>
            <option value="email">Send email</option>
            <option value="labels">Print Labels</option>
        </select>
        <button id="submit">Submit</button>
    </form>
{% endblock %}


{% block scripts %}
    {{ super() }}
    {% include 'admin/datatable.html' %}
{% endblock %}