{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}{{ teacher.first_name }} {{ teacher.last_name }} - Info{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}


{% block page_content %}
    {{ super() }}
    <a href="{{ url_for('teacher.add_teacher') }}"> Add Teacher</a>>
    <table>
        <tbody>
        <tr>
            <td>Teacher First Name</td>
            <td>Teacher Last Name</td>
            <td>Edit</td>
        </tr>
            <tr>
                <td>{{ teacher.first_name}} </td>
                <td>{{ teacher.last_name}} </td>
                <td><a href="{{ url_for('teacher.edit_teacher', teacher_id=teacher.id)}}">Edit</a>></td>
            </tr>
        </tbody>
    </table>
{% endblock %}


{% block scripts %}
    {{ super() }}
{% endblock %}