{% extends "dashboard/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}{{ _('Edit Semester') }}{% endblock %}

{% block head %}
    {{ super() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.10/summernote.css" rel="stylesheet">
{% endblock %}


{% block page_content %}
    {{ super() }}
    <form method="POST" action="{{ url_for('semester.edit_semester', semester_id=semester_id) }}">
        {{ form.csrf_token }}
        {{ form.name.label }} {{ form.name(size=50) }}
        {{ form.color.label }} {{ form.color(size=50) }}
        {{ form.current.label }} {{ form.current }}
        <input type="submit" value="{{ _('Save') }}">
    </form>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.10/summernote.js"></script>
    <script>
        $('#default_info').summernote({
            placeholder: '{{ _("Users see that class description") }}',
            height: 400,
            toolbar: [
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['height', ['height']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['insert', ['link', 'hr']],
                ['misc', ['codeview', 'help']]
            ]
        });
    </script>
{% endblock %}
