{% extends "dashboard/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}{{ _('Send txt messages') }}{% endblock %}

{% block page_content %}
    <div class="col-md-9 offset-md-1">
        <div class="page-header">
            <h1>These messages have already been sent
                <small></small>
            </h1>
        </div>

        <table width="100%" class="table table-hover">
            <thead>
            <tr>
                <th>Phone #</th>
                <th>Text message</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for msg in data %}
                {% if msg.status == "received" %}
                    <tr bgcolor="#90EE90">
                        {% else %}
                    <tr>
                {% endif %}
            <td>{{ msg.to }}</td>
            <td>{{ msg.body }}</td>
            <td>{{ msg.date_sent }}</td>
            <td>{{ msg.status }}</td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% if data._payload.previous_page_uri %}
    {%  set page_token = data._payload.previous_page_uri.split('=') %}
        <a href="{{ url_for('txtmsg.status', page=page-1, page_token=page_token[-1])  }}">{{ _('Previous') }}</a>
    {% endif %}
    {% if data._payload.next_page_uri %}
    {%  set page_token = data._payload.next_page_uri.split('=') %}
        <a href="{{ url_for('txtmsg.status', page=page+1, page_token=page_token[-1])  }}">{{ _('Next') }}</a>
    {% endif %}
        <br><br>
        <a href='{{ url_for('txtmsg.send_msg') }}'>Send text messages</a>

    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}
