{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}{{ _('Class Info') }}{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
{% endblock %}


{% block page_content %}
    {{ super() }}
    <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
        <div class="row">
            <div class="col text-left">
                <h1>{{ current_class.subject.name }} @ {{ current_class.school.name }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3 style="color: lightgrey"></h3>
            </div>
        </div>
        <!--Students table-->
        <div class="row mt-4">
            <div class="col">
                <h2>{{ _('Students') }}</h2>
            </div>
            <div class="col">
                <a class="btn btn-primary" href="{{ url_for('attendance.for_class', class_id=current_class.id) }}"
                   role="button">{{ _('Attendance List') }}</a>
            </div>
        </div>

        {% for enrollment in enrollments %}
            <div class="row border-bottom border-top mt-1">
                <div class="col text-center text-md-left align-self-center">
                    <h4>
                        <a href="{{ url_for('student.info', student_id=enrollment.student.id) }}">{{ enrollment.student.first_name }} {{ enrollment.student.last_name }}</a>
                    </h4>
                </div>
            </div>
        {% endfor %}
        {% if current_class.school.agreement %}
        <div class="row border-top mt-5">
            <div class="col">
                {{ current_class.school.agreement | safe }}
            </div>
        </div>
        {% endif %}
        <div class="row border-top mt-2">
            <div class="col">
                {{ current_class.info | safe }}
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}