{% extends "dashboard/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}{{ _('Class List') }}{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}


{% block page_content %}
    {{ super() }}
    <div class="row">
        <div class="col-md-3 offset-md-9">
            {% if current_classes_only %}
                <a class="btn btn-outline-primary" href="{{ url_for('schdl_class.class_list') }}"
                   role="button">{{ _('Show All Classes') }}</a>
            {% else %}
                <a class="btn btn-outline-primary" href="{{ url_for('schdl_class.main') }}"
                   role="button">{{ _('Show Current Classes') }}</a>
            {% endif %}
            <a class="btn btn-outline-success" href="{{ url_for('schdl_class.add_class') }}"
               role="button">{{ _('Add New Class') }}</a>
        </div>

    </div>
    <div class="row">
        <h1>{{ _('List of classes') }}</h1>
        <table class="table table-hover table-bordered">
            <caption>{{ _('List of classes') }}</caption>
            <tbody>
            <tr>
                <th>{{ _('Subject') }}</th>
                <th>{{ _('School') }}</th>
                <th>{{ _('Teacher') }}</th>
                <th>{{ _('Edit') }}</th>
            </tr>
            {% for current_class in classes %}
                <tr>
                    <td>{{ current_class.subject.name }}</td>
                    <td>{{ current_class.school.name }}</td>
                    <td>{{ current_class.teacher.first_name }}</td>
                    <td><a href="{{ url_for('schdl_class.edit_class', class_id=current_class.id) }}">{{ _('Edit') }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
{% endblock %}