{% extends "dashboard/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}{{ _('Admin Dashboard') }}{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}


{% block page_content %}
    {{ super() }}
    <div class="row">
        <div class="col">
            <h1>{{ current_user.first_name }} {{ current_user.last_name }} </h1>
            <h3 style="color: lightgrey">{{ current_user.email }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ _('Total users:') }} {{ users }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ _('Total students:') }} {{ students }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ _('Total enrollments:') }} {{ enrollments_num }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2>{{ _('Last 5 enrollments') }}</h2>
        </div>
    </div>
    {% for enrollment in five_last_enrollments %}
        <div class="row">
            <div class="col">
                <a href="{{ url_for('student.info', student_id=enrollment.student.id) }}">{{ enrollment.student.first_name }} {{ enrollment.student.last_name }}</a>
                -
                <a href="{{ url_for('schdl_class.info_class', class_id=enrollment.schdl_class.id) }}">{{ enrollment.schdl_class.subject.name }}
                    @ {{ enrollment.schdl_class.school.name }}</a>
            </div>
        </div>
    {% endfor %}
    <div class="row">
        <div class="col">
            <h2>{{ _('Current System') }} {{ config.CURRENT_RELEASE_HEROKU_VERSION }}</h2>
            <p>{{ config.CURRENT_RELEASE_VERSION }} @ {{ config.CURRENT_RELEASE_CREATED_AT }}</p>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
{% endblock %}