{% extends "dashboard/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}{{ _('Admin Dashboard') }}{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}


{% block page_content %}
    {{ super() }}
    <div class="row">
        <div class="col">
            <h1>{{ current_user.first_name }} {{ current_user.last_name }} </h1>
            <h3 style="color: lightgrey">{{ current_user.email }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ _('Total users:') }} <a href="{{ url_for('user.user_list') }}">{{ users }}</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ _('Users without students:') }} <a
                href="{{ url_for('user.user_without_students_list') }}">{{ users_without_students }}</a>
        </div>
    </div>
        <div class="row">
        <div class="col">
            {{ _('Teachers:') }} <a
                href="{{ url_for('teacher.teacher_list') }}">{{ teachers }}</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ _('Total students:') }} <a href="{{ url_for('student.student_all_list') }}">{{ students }}</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ _('Not enrolled students:') }} <a
                href="{{ url_for('student.not_enrolled') }}">{{ not_enrolled_students }}</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ _('Total enrollments (with drops):') }} <a
                href="{{ url_for('student.student_list') }}">{{ enrollments_num }}</a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2>{{ _('Last 5 enrollments') }}</h2>
        </div>
    </div>
    <div class="row">
        <div>
            <ul class="list-group list-group-flush">
                {% for enrollment in five_last_enrollments %}
                    <li class="list-group-item">
                        {{ moment(enrollment.timestamp).format('L LT') }}
                        <a href="{{ url_for('student.info', student_id=enrollment.student.id) }}">{{ enrollment.student.first_name }} {{ enrollment.student.last_name }}</a>
                        -
                        <a href="{{ url_for('schdl_class.info_class', class_id=enrollment.schdl_class.id) }}">{{ enrollment.schdl_class.subject.name }}
                            @ {{ enrollment.schdl_class.school.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <a href="{{ url_for('enrollment.list_all') }}" class="btn btn-info">{{ _('Show all Enrollments') }}</a>

    <div class="row">
        <div class="col">
            <h2>{{ _('Current System') }} {{ config.CURRENT_RELEASE_HEROKU_VERSION }}</h2>
            <p>{{ config.CURRENT_RELEASE_VERSION }} @ {{ config.CURRENT_RELEASE_CREATED_AT }}</p>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}
