{% extends "dashboard/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Admin Dashboard{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}


{% block page_content %}
    {{ super() }}
    <h1>{{ current_user.first_name }} {{ current_user.last_name }} </h1>
    <h3 style="color: lightgrey">{{ current_user.email }}</h3>
    <p>Total users: {{ users }}</p>
    <p>Total students: {{ students }}</p>
    <h1>Current System Version {{ config.CURRENT_RELEASE_HEROKU_VERSION }}</h1>
    <p>{{ config.CURRENT_RELEASE_VERSION }} @ {{ config.CURRENT_RELEASE_CREATED_AT }}</p>
{% endblock %}


{% block scripts %}
    {{ super() }}
{% endblock %}