{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}{{ _('Admin Dashboard') }}{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}


{% block page_content %}
    {{ super() }}
    <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
        <div class="row">
            <div class="col">
                <h1>{{ current_user.first_name }} {{ current_user.last_name }} </h1>
                <h3 style="color: lightgrey">{{ current_user.email }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% for school in current_user.schools %}
                    {% if school.current %}
                    <div class="row mt-5">
                        <div class="col">
                            <h3>{{ school.name }}</h3>
                        </div>
                    </div>
                    {% for current_class in school.classes %}
                        {% if current_class.current %}
                        <div class="row border-bottom mt-3">
                            <div class="col">
                                <a href="{{ url_for('attendance.for_class', class_id=current_class.id) }}">{{ current_class.subject.name }}</a>
                            </div>
                            <div class="col">
                                {{ current_class.school.name }}
                            </div>
                            <div class="col">
                                {{ current_class.day_of_week }}
                            </div>
                            <div class="col">
                                {% if current_class.class_time_start and current_class.class_time_end %}
                                    {{ current_class.class_time_start | ctimeformat }} -
                                    {{ current_class.class_time_end | ctimeformat }}
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}


{% block scripts %}
    {{ super() }}
{% endblock %}