{% extends "dashboard/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}{{ _('Event List') }}{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}


{% block page_content %}
    {{ super() }}
    <div class="row">
        <div class="col-md-3 offset-md-9">
            {% if current_events_only %}
                <a class="btn btn-outline-primary" href="#" role="button">{{ _('Show All Events') }}</a>
            {% else %}
                <a class="btn btn-outline-primary" href="{{ url_for('event.main') }}"
                   role="button">{{ _('Show Current Events') }}</a>
            {% endif %}
            <a class="btn btn-outline-success" href="{{ url_for('event.add_event') }}"
               role="button">{{ _('Add New Event') }}</a>
        </div>

    </div>
    <div class="row">
        <h1>{{ _('List of events') }}</h1>
        <table class="table table-hover table-bordered">
            <caption>{{ _('List of events') }}</caption>
            <tbody>
            <tr>
                <th>{{ _('School') }}</th>
                <th>{{ _('Subject') }}</th>
                <th>{{ _('Teacher') }}</th>
                <th>{{ _('Edit') }}</th>
            </tr>
            {% for current_event in events %}
                <tr>
                    <td>{{ current_event.schdl_class.school.name }}</td>
                    <td>{{ current_event.schdl_class.subject.name }}</td>
                    <td>{{ current_event.teacher.first_name }} {{ current_event.teacher.last_name }}</td>
                    <td><a href="{{ url_for('event.edit_event', event_id=current_event.id) }}">{{ _('Edit') }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
{% endblock %}