{% block navbar %}

    <a class="navbar-brand" href="{{ url_for('hello_world') }}">{{ config.COMPANY_NAME }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('dashboard.main') }}">{{ _('Dashboard') }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('calendar.main') }}">{{ _('Calendar') }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('school.school_list') }}">{{ _('Schools') }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('teacher.teacher_list') }}">{{ _('Teachers') }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('subject.subject_list') }}">{{ _('Subjects') }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('schdl_class.class_list') }}">{{ _('Classes') }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('event.event_list') }}">{{ _('Events') }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('user.user_list') }}">{{ _('Users') }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('student.student_list') }}">{{ _('Students') }}</a>
            </li>
        </ul>
        <!--RIGHT PART-->
        <ul class="navbar-nav">
            <li class="nav-item">
                {% if current_user.is_anonymous %}
                    <a class="nav-link" href="{{ url_for_security('login') }}">{{ _('Register / Sign In') }}</a>
                {% else %}
                    <a class="nav-link" href="{{ url_for_security('logout') }}">{{ _('Logout') }}</a>
                {% endif %}
            </li>
        </ul>
    </div>
{% endblock %}
