{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block page_content %}
    {% include "security/_messages.html" %}
    <h1>{{ _('Change password') }}</h1>
    <div class="row justify-content-center">
    <form action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
        {{ change_password_form.hidden_tag() }}
        <div class="form-group row">
            {{ render_field_with_errors(change_password_form.password, size=30, class="form-control", placeholder="Enter your current Password") }}
        </div>
        <div class="form-group row">
            {{ render_field_with_errors(change_password_form.new_password, size=30, class="form-control", placeholder="Enter new Password") }}
        </div>
        <div class="form-group row">
            {{ render_field_with_errors(change_password_form.new_password_confirm, size=30, class="form-control", placeholder="ReEnter new Password") }}
        </div>
        <div class="form-group row">
            {{ render_field(change_password_form.submit, class="btn btn-primary") }}
        </div>
    </form>
    </div>
{% endblock %}