{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block title %}Reset Password{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}


{% block page_content %}
    {{ super() }}
    {% include "security/_messages.html" %}

    <div class="row justify-content-center">
        <form id="reset-password-form" action="{{ url_for_security('forgot_password') }}" method="POST"
              name="forgot_password_form">
            {{ forgot_password_form.hidden_tag() }}
            <img src="{{ url_for('static', filename='company_logo.jpg') }}"
                 class="img-fluid mx-auto d-block">
            <div class="form-group row">
                <h1>{{ _('Send password reset instructions') }}</h1>
            </div>
            <div class="form-group row">
                {{ render_field_with_errors(forgot_password_form.email, size=30, class="form-control", placeholder="Enter your Email") }}
            </div>
            <div class="form-group row">
                {{ render_field_with_errors(forgot_password_form.submit, size=30, class="btn btn-primary") }}
            </div>
        </form>
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
{% endblock %}
