{% extends "security/security_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block title %}{{ _('Sign In') }}{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}


{% block page_content %}
    {{ super() }}
    {% include "security/_messages.html" %}
    <div class="row justify-content-center">
        <img src="{{ url_for('static', filename='company_logo.png') }}"
             class="img-fluid mx-auto d-block">
        <h5 class="text-center">{{ _(config.COMPANY_SLOGAN | safe) }}</h5>
    </div>
    <div class="row justify-content-center">
        <form id="checkemail-form" action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
            {{ login_user_form.hidden_tag() }}
            <div class="form-group row">
                <h1>{{ _('Enter your Password') }}</h1>
            </div>
            <div class="form-group row">
                {{ render_field_with_errors(login_user_form.email, size=30, class="form-control", placeholder=_("Enter your Email")) }}
            </div>
            <div class="form-group row">
                {{ render_field_with_errors(login_user_form.password, size=30, class="form-control", placeholder=_("Enter your Password")) }}
            </div>
            <div class="row">
                <div class="form-check mr-auto">
                    {{ render_field_with_errors(login_user_form.remember, class="form-check-input") }}
                    {{ login_user_form.remember.label(class="form-check-label") }}
                </div>
                <div class="ml-auto">
                    <a href="{{ url_for_security('forgot_password') }}">{{ _('Forgot password?') }}</a>
                </div>
            </div>
            <div class="form-group row">
                {{ render_field_with_errors(login_user_form.recaptcha) }}
            </div>
            <div class="form-group row">
                <button id="recaptcha-submit" class="btn btn-primary">{{ _('Submit') }}</button>
            </div>
        </form>
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <!--Script for Invisible Captcha -->
    <script>
        function onSubmitCallback(token) {
            document.getElementById("checkemail-form").submit();
        }
    </script>
{% endblock %}