{% extends "security/security_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block title %}{{ _('Register') }}{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}



{% block page_content %}
    {{ super() }}
    {% include "security/_messages.html" %}
    <div class="row justify-content-center text-center mt-5 pb-5">
        <div>
            <div class="text-center alert alert-success" id="hide-on-click2">
                <h1>{{ _('Kipling <b>ELEMENTARY</b> register') }} <a
                        href="https://enrichmentservices.com/summer-martial-arts-registration-kipling-elementary/"
                        class="success">{{ _('HERE') }}</a>
                </h1>

            </div>

            <div class="mt-5" id="hide-on-click4">
                 <p class="text-center"><h2>
                    {{ _('Kipling PRESCHOOLS<br> <i class="fas fa-arrow-down"></i> (Kipling St Academy & Kipling on Floyd register BELOW)') }} <i class="fas fa-arrow-down"></i>
            </h2></p>
            </div>

            <div class="text-center alert alert-info mt-5" id="hide-on-click3">
                <h1>{{ _('All other schools click') }} <a href="#" onclick="hideLinks()">{{ _('HERE') }}</a>
                </h1>
            </div>

            <div class="form-group row text-center alert alert-info mt-5" style="display: none"
                 id="registration-form-title1">
                <h1>{{ _('<b>SPRING students</b>') }} <a
                        href="{{ url_for('security.login') }}">{{ _('LOGIN HERE') }}</a></h1>
            </div>
            <div class="row text-center alert alert-success mt-5" style="display: none"
                 id="registration-form-title2">
                <h1>{{ _('NEW students register ') }}<a href="#" onclick="hideLinks2()">{{ _('HERE') }}</a></h1>
            </div>
        </div>
        <div class="row">
            <form style="display: none" id="registration-form" method="POST"
                  action="{{ url_for_security('register') }}">
                {{ register_user_form.hidden_tag() }}
                <div class="form-group row">
                    {{ render_field_with_errors(register_user_form.first_name, size=30, class="form-control", placeholder=_('Parent First Name')) }}
                </div>
                <div class="form-group row">
                    {{ render_field_with_errors(register_user_form.last_name, size=30, class="form-control", placeholder=_('Parent Last Name')) }}
                </div>
                <div class="form-group row">
                    {{ render_field_with_errors(register_user_form.email, size=30, class="form-control", placeholder=_('Enter your Email')) }}
                </div>
                <div class="form-group row">
                    {{ render_field_with_errors(register_user_form.password, size=30, class="form-control", placeholder=_('Create your Password')) }}
                </div>
                <div class="form-group row">
                    {{ render_field_with_errors(register_user_form.password_confirm, size=30, class="form-control", placeholder=_('Repeat your Password')) }}
                </div>
                <div class="form-group row">
                    <div class="form-check mr-auto">
                        {{ render_field_with_errors(register_user_form.agreement, class="form-check-input") }}
                        <label class="form-check-label" for="agreement">
                            {{ _('I agree to the') }} <a href="{{ url_for('privacy') }}"
                                                         target=”_blank”>{{ _('Terms of Service and Privacy Policy') }}</a>
                        </label>
                    </div>
                </div>

                <div class="form-group row">
                    {{ register_user_form.recaptcha }}
                </div>
                <div class="form-group row">
                    <button id="recaptcha-submit" class="btn btn-primary">{{ _('Submit') }}</button>
                </div>

                <div class="form-group row">
                    <h5>{{ _('Already have an account?') }} <a
                            href="{{ url_for_security('login') }}">{{ _('Sign In') }}</a>
                    </h5>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col text-center" id="hide-on-click1">
            <h4>{{ _('Instructor Login') }} <a href="{{ url_for('security.login') }}">{{ _('HERE') }}</a></h4>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col text-center" id="hide-on-click1">
            <h4>{{ _('School Login') }} <a href="{{ url_for('security.login') }}">{{ _('HERE') }}</a></h4>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <img src="{{ url_for('static', filename='company_logo.png') }}"
             class="img-fluid mx-auto d-block">
        <h5 class="text-center"><i>{{ _(config.COMPANY_SLOGAN | safe) }}</i></h5>
    </div>

{% endblock %}


{% block scripts %}
    {{ super() }}
    <!--Script for Invisible Captcha -->
    <script>
        function onSubmitCallback(token) {
            document.getElementById("registration-form").submit();
        }
    </script>
    <script>
        {# Function to hide links and show form on click #}

        function hideLinks() {
            $("#hide-on-click1").hide();
            $("#hide-on-click2").hide();
            $("#hide-on-click3").hide();
            $("#hide-on-click4").hide();
            $("#registration-form-title1").show();
            $("#registration-form-title2").show();
        }

        function hideLinks2() {
            $("#registration-form").show();
            $("#registration-form-title1").hide();
            $("#registration-form-title2").hide();
        }
    </script>
{% endblock %}