{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block title %}Register{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}



{% block page_content %}
    {{ super() }}
    {% include "security/_messages.html" %}
    <div class="row justify-content-center">
        <img src="{{ url_for('static', filename='company_logo.png') }}"
             class="img-fluid mx-auto d-block">
        <h5 class="text-center"><i>{{ config.COMPANY_SLOGAN | safe }}</i></h5>
    </div>
    <div class="row justify-content-center">
        <form id="registration-form" method="POST" action="{{ url_for_security('register') }}">
            {{ register_user_form.hidden_tag() }}
            <div class="form-group row">
                <h1>Register</h1>
            </div>
            <div class="form-group row">
                {{ render_field_with_errors(register_user_form.first_name, size=30, class="form-control", placeholder="Parent First Name") }}
            </div>
            <div class="form-group row">
                {{ render_field_with_errors(register_user_form.last_name, size=30, class="form-control", placeholder="Parent Last Name") }}
            </div>
            <div class="form-group row">
                {{ render_field_with_errors(register_user_form.email, size=30, class="form-control", placeholder="Enter your Email") }}
            </div>
            <div class="form-group row">
                {{ render_field_with_errors(register_user_form.password, size=30, class="form-control", placeholder="Enter your Password") }}
            </div>
            <div class="form-group row">
                {{ render_field_with_errors(register_user_form.password_confirm, size=30, class="form-control", placeholder="Repeat your Password") }}
            </div>
            <div class="form-group row">
                <div class="form-check mr-auto">
                    {{ render_field_with_errors(register_user_form.agreement, class="form-check-input") }}
                    <label class="form-check-label" for="agreement">
                        I agree to the <a href="{{ url_for('privacy') }}">Terms of Service and Privacy Policy</a>
                    </label>
                </div>
            </div>

            <div class="form-group row">
                {{ register_user_form.recaptcha }}
            </div>
            <div class="form-group row">
                <button id="recaptcha-submit" class="btn btn-primary">Submit</button>
            </div>
            <!-- Sign In Link
            <div class="form-group row">
                <h5>Already have an account? <a href="{{ url_for_security('login') }}">Sign In</a></h5>
            </div>
            -->
        </form>
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <!--Script for Invisible Captcha -->
    <script>
        function onSubmitCallback(token) {
            document.getElementById("registration-form").submit();
        }
    </script>
{% endblock %}