{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}{{ user.first_name }} {{ user.last_name }} - Info{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}


{% block page_content %}
    {{ super() }}
    <a href="{{ url_for('user.add_user') }}"> Add Parent</a>>
    <table>
        <tbody>
        <tr>
            <td>Parent First Name</td>
            <td>Parent Last Name</td>
            <td>Edit</td>
        </tr>
            <tr>
                <td>{{ user.first_name }} </td>
                <td>{{ user.last_name }} </td>
                <td><a href="{{ url_for('user.edit_user', user_id=user.id) }}">Edit</a>></td>
            </tr>
        </tbody>
    </table>
{% endblock %}


{% block scripts %}
    {{ super() }}
{% endblock %}