{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}{{ _('Account') }}{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
{% endblock %}


{% block page_content %}
    {{ super() }}
    <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
        <div class="row">
            <div class="col text-left">
                <h1>{{ user.first_name }} {{ user.last_name }} </h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3 style="color: lightgrey">{{ user.email }}</h3>
            </div>
            {% if config['NOTE_FOR_ALL_PARENTS'] %}
                <div class="col text-right">
                    <h3 class="alert alert-info">{{ config['NOTE_FOR_ALL_PARENTS'] }} </h3>
                </div>
            {% endif %}
        </div>
        <!--Students table-->
        <div class="row mt-4">
            <div class="col">
                <h2>{{ _('Students') }}</h2>
            </div>
            <div class="col offset-sm-0 offset-md-3 text-right">
                <a class="btn btn-outline-primary" href="{{ url_for('student.add_student') }}"
                   role="button">{{ _('Add Student') }}</a>
            </div>
        </div>

        {% for student in students %}
            <div class="row border-bottom border-top mt-1">
                <div class="col-sm-3 text-center text-md-left align-self-center">
                    <h4>{{ student.first_name }} {{ student.last_name }}</h4>
                </div>
                {# Show buttons for all enrolled classes #}
                <div class="col-sm-5 text-center align-self-center">
                    {% if student.enrollments.count() > 0 %}{{ _('Enrolled in') }}
                        {% for enrollment in student.enrollments %}
                            {% if enrollment.current %}
                                <a class="btn btn-outline-primary"
                                   href="{{ url_for('schdl_class.enroll_class', student_id=student.id, class_id=enrollment.schdl_class.id) }}"
                                   role="button">{{ enrollment.schdl_class.subject.name }}<br>{{ enrollment.schdl_class.class_start.strftime("%b %Y") }}-{{ enrollment.schdl_class.class_end.strftime("%b %Y") }}
                                </a>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {{ _('not enrolled yet') }}
                    {% endif %}
                </div>
                <div class="col-sm-4 text-center text-md-right align-self-center">
                    {# Show button to Register for new classes #}
                    <a class="btn btn-success" href="{{ url_for('student.enroll_student', student_id=student.id) }}"
                       role="button">{{ _('Register for Classes') }}</a>
                    {# Edit Student Button  #}
                    <a class="far fa-edit" href="{{ url_for('student.edit_student', student_id=student.id) }}"
                       role="button" data-toggle="tooltip" title="edit" style="color: blue"></a>
                </div>
            </div>
        {% endfor %}

        <!--Payments table-->
        <div class="row mt-4">
            <div class="col text-left align-self-center">
                <h2>{{ _('Payment Information') }}</h2>
            </div>
            <div class="col text-center align-self-center">
                {{ _('Current card:') }} {{ cards_html|safe }}
            </div>
            <div class="col text-right align-self-center">
                <!--Update Card Button-->
                {% include 'payment/add_card_button.html' %}
            </div>
        </div>
        {# Table of User's payments #}
        {{ payments_html|safe }}
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    <!--Script for Tooltip-->
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}
