{% extends "admin/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Edit Event{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}


{% block page_content %}
    {{ super() }}
    <form method="POST" action="{{ url_for('event.edit_event', event_id=event_id) }}">
        {{ form.csrf_token }}

        {{ form.teacher_id.label }} {{ form.teacher_id }}
        {{ form.class_id.label }} {{ form.class_id }}
        {{ form.current.label }} {{ form.current }}
        <input type="submit" value="Save">
    </form>
{% endblock %}


{% block scripts %}
    {{ super() }}
{% endblock %}