{% extends "dashboard/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Event List{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}


{% block page_content %}
    {{ super() }}
    <div class="row">
            <div class="col-md-3 offset-md-9">
                {% if current_events_only %}
                    <a class="btn btn-outline-primary" href=" role="button">Show All Events</a>
                {% else %}
                    <a class="btn btn-outline-primary" href="{{ url_for('event.event_list') }}" role="button">Show
                        Current Events</a>
                {% endif %}
        </div>

    </div>
    <div class="row">
        <h1>List of events</h1>
        <table class="table table-hover table-bordered">
            <caption>List of events</caption>
            <tbody>
            <tr>
                <th>Date</th>
                <th>School</th>
                <th>Subject</th>
                <th>Billing Rate</th>
                <th>Pay Rate</th>
                <th>Teacher</th>
                <th>Note</th>
                <th>Active</th>
                <th>Edit</th>
            </tr>
            {% for current_event in events %}
                <tr>
                    <td>{{ current_event.start }}</td>
                    <td>{{ current_event.schdl_class.school.name }}</td>
                    <td>
                        <a href="{{ url_for('schdl_class.info_class', class_id=current_event.schdl_class.id) }}">{{ current_event.schdl_class.subject.name }}</a>
                    </td>
                    <td>{{ current_event.billing_rate }}</td>
                    <td>{{ current_event.payrate }}</td>
                    <td>{{ current_event.teacher.user.first_name }} {{ current_event.teacher.user.last_name }}</td>
                    <td>{{ current_event.note }}</td>
                    <td>{{ current_event.active }}</td>
                    <td><a href="{{ url_for('event.edit_event', event_id=current_event.id) }}">Edit</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
{% endblock %}