{% extends "dashboard/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}{{ _('Event List') }}{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}


{% block page_content %}
    {{ super() }}
    <div class="row">
            <div class="col-md-3 offset-md-9">
                {% if current_class is defined %}
                    <a class="btn btn-outline-primary"
                       href="{{ url_for('event.add_event_for_class', class_id=current_class.id) }}"
                       role="button">{{ _('Add New Event') }}</a>
                {% endif %}
                <a class="btn btn-outline-primary" href="{{ url_for('event.event_list') }}"
                   role="button">{{ _('Show Current Events') }}</a>
            </div>

    </div>
    <div class="row">
        <h1>{{ _('List of events') }}</h1>
        <table class="table table-hover table-bordered">
            <caption>{{ _('List of events') }}</caption>
            <tbody>
            <tr>
                <th>{{ _('Date') }}</th>
                <th>{{ _('School') }}</th>
                <th>{{ _('Subject') }}</th>
                <th>{{ _('Billing Rate') }}</th>
                <th>{{ _('Pay Rate') }}</th>
                <th>{{ _('Teacher') }}</th>
                <th>{{ _('Note') }}</th>
                <th>{{ _('Active') }}</th>
                <th>{{ _('Edit') }}</th>
            </tr>
            {% for current_event in events %}
                <tr>
                    <td>{{ moment(current_event.start).format('L LT') }}</td>
                    <td>{{ current_event.schdl_class.school.name }}</td>
                    <td>
                        <a href="{{ url_for('schdl_class.info_class', class_id=current_event.schdl_class.id) }}">{{ current_event.schdl_class.subject.name }}</a>
                    </td>
                    <td>{{ current_event.billing_rate }}</td>
                    <td>{{ current_event.payrate }}</td>
                    <td>
                        {% for teacher in current_event.schdl_class.teachers %}
                        {{ teacher.user.first_name }} {{ teacher.user.last_name }}; <br>
                        {% endfor %}</td>
                    <td>{{ current_event.note }}{% if current_event.event_note %}<span class="badge badge-primary">{{ current_event.event_note }}</span>{% endif %}</td>
                    <td>{{ current_event.active }}</td>
                    <td><a href="{{ url_for('event.edit_event', event_id=current_event.id) }}">{{ _('Edit') }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}