{% extends "dashboard/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}{{ _('User Info') }}{% endblock %}

{% block head %}
    {{ super() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/jquery-editable/css/jquery-editable.css"
          rel="stylesheet"/>
{% endblock %}


{% block page_content %}
    {{ super() }}
    <div class="row">
        <div class="col">
            <h1>{{ user.first_name }} {{ user.last_name }}
                <small><a href="mailto:{{ user.email }}">{{ user.email }}</a></small>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!--Current Role-->
            {% for role in user.roles %}
                @{{ role.description }}
            {% endfor %}
        </div>

        {% if user.has_role('school') %}
            <div class="col text-right">
                <a class="btn btn-outline-primary" href="{{ url_for('user.user_school', user_id=user.id) }}"
                   role="button">{{ _('Add School to this User') }}</a>
            </div>
        {% endif %}
    </div>


    <div class="row">
        <div class="col">
            {{ _('Registration:') }} {{ moment(user.timestamp).format('L LT') }},
            {{ _('Last Seen:') }} {{ moment(user.last_seen).format('L LT') }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ _('Note:') }} <a href="#" id="note-u{{ user.id }}" data-type="text" data-pk="{{ user.id }}"
                                data-url="{{ url_for('user.edit_note') }}"
                                data-title="Enter note">
            {% if user.note %}
                {{ user.note }}
            {% else %}
                {{ _('Add') }}
            {% endif %}
        </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!--Role-->
            {{ _('Role:') }}
            <form method="POST" action="{{ url_for('user.user_role') }}" id="theForm">
                <input type="hidden" id="user_id" name="user_id" value="{{ user.id }}">
                <select name="role" id="role">
                    <option value="teacher">{{ _('Teacher') }}</option>
                    <option value="school">{{ _('School') }}</option>
                    <option value="admin">{{ _('Admin') }}</option>
                </select>
                <select name="action" id="action">
                    <option value="add">{{ _('Add') }}</option>
                    <option value="remove">{{ _('Remove') }}</option>
                </select>
                <button id="submit">{{ _('Submit') }}</button>
            </form>
        </div>
    </div>
    <!--Students-->
    <div class="row">
        <div class="col">
            <h2>{{ _('Students') }}</h2>
        </div>
        <div class="col text-right">
            <a href="{{ url_for('dashboard.add_student', user_id=user.id) }}"
               class="btn btn-outline-primary" role="button" aria-pressed="true">{{ _('Add New Student') }}</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tbody>
                    {% for student in user.students %}
                        <tr>
                            <td>
                                <a href="{{ url_for('student.info', student_id=student.id) }}">{{ student.first_name }} {{ student.last_name }}</a>
                            </td>
                            <td>
                                {% if student.enrollments.count() > 0 %}{{ _('Enrolled in') }}
                                    {% for enrollment in student.enrollments %}
                                        {% if enrollment.current %}
                                            <a class="btn btn-outline-primary"
                                        {% else %}
                                            <a class="btn btn-danger"
                                        {% endif %}
                                               href="{{ url_for('schdl_class.enroll_class', student_id=student.id, class_id=enrollment.schdl_class.id) }}"
                                               role="button">{{ enrollment.schdl_class.subject.name }} @
                                        {% if enrollment.schdl_class.school.short_name %}
                                            {{ enrollment.schdl_class.school.short_name }}
                                        {% else %}
                                            {{ enrollment.schdl_class.school.name }}
                                        {% endif %}
                                        <br>{% if enrollment.schdl_class.class_start and enrollment.schdl_class.class_end %}
                                            {{ enrollment.schdl_class.class_start.strftime("%b %Y") }}-
                                            {{ enrollment.schdl_class.class_end.strftime("%b %Y") }}{% endif %}</a>
                                    {% endfor %}
                                {% else %}
                                    {{ _('not enrolled yet') }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--Payments-->
    <div class="row">
        <div class="col">
            <h2>{{ _('Payments') }}</h2>
        </div>
        <div class="col text-left align-self-center">
            <!--Update Card Button-->
            {% include 'payment/update_user_card_button.html' %}
        </div>
        <div class="col text-center align-self-center">
            {{ _('Current card:') }} {{ cards_html|safe }}
        </div>
        <div class="col-auto text-right align-self-center">
            {# Form to charge customer #}
            <form class="form-inline" method="POST" action="{{ url_for('payment.charge_user') }}" id="ChargeForm">
                {{ form.csrf_token }}
                {{ form.user_id }}
                {{ form.amount(size=30, class="form-control mb-2 mr-sm-2", placeholder=_('Amount')) }}
                {{ form.description(size=30, class="form-control mb-2 mr-sm-2", placeholder=_('Description')) }}
                {{ form.submit(class="btn btn-outline-success mb-2") }}

            </form>
        </div>
    </div>

    {# Table of User's payments #}
    <div class="row">
        <div class="col">
            {{ payments_html|safe }}
        </div>
    </div>

    <!--Schools-->
    <div class="row">
        <div class="col">
            <h2>{{ _('Schools') }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tbody>
                    {% for school in user.schools %}
                        <tr>
                            <td>{{ school.name }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--Contacts-->
    <div class="row">
        <div class="col">
            <h2>{{ _('Contacts') }}</h2>
        </div>
        <div class="col text-right">
            <a href="{{ url_for('dashboard.add_contact_information', user_id=user.id) }}"
               class="btn btn-outline-primary" role="button" aria-pressed="true">{{ _('Add Contact Info') }}</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tbody>
                    {% for contact in user.contacts %}
                        <tr>
                            <td>{{ contact.email }}
                                {% if contact.contact_by_email == 1 %}
                                    <i class="fas fa-at" style="font-size: 1em; color: green;" data-toggle="tooltip"
                                       title="{{ _('email is allowed') }}"></i>
                                {% else %}
                                    <i class="fas fa-at" style="font-size: 1em; color: red;" data-toggle="tooltip"
                                       title="{{ _('email is prohibited') }}"></i>
                                {% endif %}
                            </td>
                            <td>{% if contact.phone %}
                                <a href="{{ url_for('txtmsg.send_msg', to_phone=contact.phone ) }}"
                                   target="_blank">{{ _('{first}-{second}-{third}'.format(first=contact.phone[0:3], second=contact.phone[3:6], third=contact.phone[6:10])) }}</a>
                            {% endif %}
                                {% if contact.contact_by_txt == 1 %}
                                    <i class="fas fa-mobile-alt" style="font-size: 1em; color: green;"
                                       data-toggle="tooltip"
                                       title="{{ _('txt messages is allowed') }}"></i>
                                {% else %}
                                    <i class="fas fa-mobile-alt" style="font-size: 1em; color: red;"
                                       data-toggle="tooltip"
                                       title="{{ _('txt messages is prohibited') }}"></i>
                                {% endif %}
                            </td>
                            <td>{{ contact.address1 }} {% if contact.address2 %}
                                {{ contact.address2 }}{% endif %}<br>{{ contact.city }} {{ contact.state }} {{ contact.zip }}
                                {% if contact.contact_by_mail == 1 %}
                                    <i class="far fa-envelope" style="font-size: 1em; color: green;"
                                       data-toggle="tooltip"
                                       title="{{ _('mail is allowed') }}"></i>
                                {% else %}
                                    <i class="far fa-envelope" style="font-size: 1em; color: red;" data-toggle="tooltip"
                                       title="{{ _('mail is prohibited') }}"></i>
                                {% endif %}
                            </td>
                            <td>
                                <a class="far fa-edit"
                                   href="{{ url_for('dashboard.edit_contact_information', contact_id=contact.id) }}"
                                   role="button" data-toggle="tooltip" title="edit" style="color: blue"></a>
                            </td>
                            <td>
                                <a class="far fa-trash-alt"
                                   href="{{ url_for('dashboard.delete_contact_information', contact_id=contact.id) }}"
                                   role="button" data-toggle="tooltip" title="delete" style="color: red"></a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/jquery-editable/js/jquery-editable-poshytip.min.js"></script>
    <script>
        $(document).ready(function () {
            //toggle `popup` / `inline` mode
            $.fn.editable.defaults.mode = 'inline';

            //make student.note editable
            $('#note-u{{ user.id }}').editable();
        });
    </script>
{% endblock %}
