{% extends "dashboard/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}{{ _('User List') }}{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.2/b-colvis-1.5.2/b-html5-1.5.2/b-print-1.5.2/r-2.2.2/sl-1.2.6/datatables.min.css"/>
{% endblock %}


{% block page_content %}
    {{ super() }}
    <div class="row">
        <div class="col text-left">
            <h1>{{ _('User List') }}</h1>
        </div>
        <div class="col text-right">
            {% if current_users_only %}
                <a class="btn btn-outline-primary" href="{{ url_for('user.user_all_list') }}"
                   role="button">{{ _('Show All Users') }}</a>
            {% else %}
                <a class="btn btn-outline-primary" href="{{ url_for('user.user_list') }}"
                   role="button">{{ _('Show Current Users') }}</a>
            {% endif %}
            <a class="btn btn-outline-warning" href="{{ url_for('user.user_without_students_list') }}"
               role="button">{{ _('Show Users Without Students') }}</a>
        </div>
    </div>

    <form method="POST" action="" id="theForm">
        <table class="table table-hover table-bordered" id="maintable">
            <thead>
            <tr id="filterrow">
                <th></th>
                <th id="filtercol">{{ _('First Name') }}</th>
                <th id="filtercol">{{ _('Last Name') }}</th>
                <th id="filtercol">{{ _('Email') }}</th>
                <th id="filtercol">{{ _('Note') }}</th>
                <th></th>
            </tr>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">{{ _('First Name') }}</th>
                <th class="text-center">{{ _('Last Name') }}</th>
                <th class="text-center">{{ _('Email') }}</th>
                <th class="text-center">{{ _('Note') }}</th>
                <th class="text-center">{{ _('Info') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td><input type="hidden" name="schools" value="{{ user.id }}"></td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.note }}</td>
                    <td><a href="{{ url_for('user.user_info', user_id=user.id) }}">{{ _('Info') }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <select name="actionselect" id="actionselect">
            <option value="">{{ _('with selection') }}</option>
            <option value="call">{{ _('Robo Call') }}</option>
            <option value="txt">{{ _('Send txt') }}</option>
            <option value="email">{{ _('Send email') }}</option>
            <option value="labels">{{ _('Print Labels') }}</option>
        </select>
        <button id="submit">{{ _('Submit') }}</button>
    </form>
{% endblock %}


{% block scripts %}
    {{ super() }}
    {% include 'dashboard/datatable.html' %}
{% endblock %}