{% extends "dashboard/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}{{ _('Class List') }}{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.2/b-colvis-1.5.2/b-html5-1.5.2/b-print-1.5.2/r-2.2.2/sl-1.2.6/datatables.min.css"/>
{% endblock %}


{% block page_content %}
    {{ super() }}
    <div class="row">
        <div class="col-md-3 offset-md-9">
            <select name="select_semester" onchange="location = this.value;">
                <option value="#">{{ _('Select Semester') }}</option>
                {% for semester in semesters %}
                    <option value="{{ url_for('schdl_class.class_list_by_semester', semester_id=semester.id) }}">{{ semester.name }}</option>
                {% endfor %}
            </select>
            {% if current_classes_only %}
                <a class="btn btn-outline-primary" href="{{ url_for('schdl_class.not_current_list') }}"
                   role="button">{{ _('Show Not Current Classes') }}</a>
            {% else %}
                <a class="btn btn-outline-primary" href="{{ url_for('schdl_class.class_list') }}"
                   role="button">{{ _('Show Current Classes') }}</a>
            {% endif %}
            <a class="btn btn-outline-success" href="{{ url_for('schdl_class.add_class') }}"
               role="button">{{ _('Add New Class') }}</a>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <h1>{{ _('List of classes') }}{% if current_semester %} ({{ current_semester.name }}){% endif %}</h1>
            <form method="POST" action="" id="theForm">
                <table class="table table-hover table-bordered" id="maintable">
                    <caption>{{ _('List of classes') }}</caption>
                    <thead>
                    <tr id="filterrow">
                        <th></th>
                        <th id="filtercol">{{ _('School') }}</th>
                        <th id="filtercol">{{ _('Subject') }}</th>
                        <th id="filtercol">{{ _('Day') }}</th>
                        <th id="filtercol">{{ _('Time') }}</th>
                        <th id="filtercol">{{ _('Start date') }}</th>
                        <th id="filtercol">{{ _('End date') }}</th>
                        <th id="filtercol">{{ _('Teacher') }}</th>
                        <th id="filtercol">{{ _('Price') }}</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">{{ _('School') }}</th>
                        <th class="text-center">{{ _('Subject') }}</th>
                        <th class="text-center">{{ _('Day') }}</th>
                        <th class="text-center">{{ _('Time') }}</th>
                        <th class="text-center">{{ _('Start date') }}</th>
                        <th class="text-center">{{ _('End date') }}</th>
                        <th class="text-center">{{ _('Teacher') }}</th>
                        <th class="text-center">{{ _('Price') }}</th>
                        <th class="text-center">{{ _('Edit') }}</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for current_class in classes %}
                        <tr>
                            <td><input type="hidden" name="schdl_classes" value="{{ current_class.id }}"></td>
                            <td>{{ current_class.school.name }} <span
                                    class="badge badge-secondary">{{ current_class.enrollments.count() }}</span></td>
                            <td bgcolor="{{ current_class.subject.color }}"><a
                                    href="{{ url_for('schdl_class.info_class', class_id=current_class.id) }}">{{ current_class.subject.name }}</a>
                            </td>
                            <td>{{ current_class.day_of_week }}</td>
                            {% if current_class.class_time_start and current_class.class_time_end %}
                                <td>{{ current_class.class_time_start | ctimeformat }}
                                    - {{ current_class.class_time_end | ctimeformat }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            {% if current_class.class_start and current_class.class_end %}
                                <td>{{ current_class.class_start | cdateformat }}</td>
                                <td>{{ current_class.class_end | cdateformat }}</td>
                            {% else %}
                                <td></td>
                                <td></td>
                            {% endif %}

                            <td>
                                {% for teacher in current_class.teachers %}
                                    <a href="{{ url_for('teacher.teacher_info', teacher_id=teacher.id) }}">{{ teacher.user.first_name }} {{ teacher.user.last_name }}</a><br>
                                    {%  endfor %}</td>
                            <td>{{ _('${:,.2f}').format(current_class.price) }}

                                {% if current_class.registration_end and current_class.registration_start %}
                                    {% if NOW > current_class.registration_end %}
                                        <span class="badge badge-danger">{{ _('Reg is closed') }}</span>
                                    {% elif NOW < current_class.registration_start %}
                                        <span class="badge badge-warning">{{ _('Reg has not started yet') }}</span>
                                    {% else %}
                                        <span class="badge badge-primary">{{ _('Reg is open') }}</span>
                                    {% endif %}
                                {% else %}
                                    <span class="badge badge-info">{{ _('Check reg dates') }}</span>
                                {% endif %}

                            </td>
                            <td>
                                <a href="{{ url_for('schdl_class.edit_class', class_id=current_class.id) }}">{{ _('Edit') }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <select name="actionselect" id="actionselect">
                    <option value="">{{ _('with selection') }}</option>
                    <option value="call">{{ _('Robo Call') }}</option>
                    <option value="txt">{{ _('Send txt') }}</option>
                    <option value="email">{{ _('Send email') }}</option>
                    <option value="labels">{{ _('Print Labels') }}</option>
                </select>
                <button id="submit">{{ _('Submit') }}</button>
            </form>
        </div>
    </div>

{% endblock %}


{% block scripts %}
    {{ super() }}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.2/b-colvis-1.5.2/b-html5-1.5.2/b-print-1.5.2/r-2.2.2/sl-1.2.6/datatables.min.js"></script>

    <script>
        // Setup - add a text input to each footer cell
        $('#maintable thead tr#filterrow th#filtercol').each(function () {
            var title = $('#maintable thead th').eq($(this).index()).text();
            $(this).html('<input type="text" onclick="stopPropagation(event);" placeholder="{{ _('Search') }} ' + title + '" />');
        });

        // DataTable
        var table = $('#maintable').DataTable({

            responsive: true,
            columnDefs: [{
                orderable: false,
                className: 'select-checkbox',
                targets: 0
            }],

            select: {
                style: 'os',
                selector: 'td:first-child'
            },
            order: [[1, 'asc'], [4, 'asc'], [3, 'asc'], [2, 'asc']],
            paging: false,
            dom: '<"row"<"col"B><"col"f>>rtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: [0, ':visible']
                    }
                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: [0, ':visible']
                    }
                },
                'colvis'
            ]
        });

        table.buttons().container()
            .appendTo('#maintable_wrapper .col-md-6:eq(0)');

        // Apply the filter
        $("#maintable thead input").on('keyup change', function () {
            table
                .column($(this).parent().index() + ':visible')
                .search(this.value)
                .draw();
        });

        function stopPropagation(evt) {
            if (evt.stopPropagation !== undefined) {
                evt.stopPropagation();
            } else {
                evt.cancelBubble = true;
            }
        }

    </script>

    <script>
        /* Pass selected rows to POST request */
        var table = $('#maintable').DataTable();

        $('#maintable tbody').on('click', 'tr', function () {
            $(this).toggleClass('active');
        });

        $('#submit').click(function (e) {
            e.preventDefault();
            var selectedRowInputs = $('.selected input');
            var actionselect = $("#actionselect option:selected").val();
            //use the serialized version of selectedRowInputs as the data
            //to be sent to the AJAX request

            console.log('serlialized inputs: ', selectedRowInputs.serialize());
            $.ajax({
                type: "POST",
                url: "{{ url_for('student.student_processing') }}",
                data: selectedRowInputs.serialize() + "&action=" + actionselect,
                success: function (data) {
                    // if success we will open new window with html
                    var w = window.open();
                    $(w.document.body).html(data);
                },
                error: function (data) {
                    alert("Error! Cannot process your request");
                },
            });
        })
    </script>
{% endblock %}
