{% extends "dashboard/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Edit Class{% endblock %}

{% block head %}
    {{ super() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.10/summernote.css" rel="stylesheet">
{% endblock %}


{% block page_content %}
    {{ super() }}
    <form method="POST" action="{{ url_for('schdl_class.edit_class', class_id=class_id) }}">
        {{ form.csrf_token }}
        {{ form.school_id.label }} {{ form.school_id }}
        {{ form.teacher_id.label }} {{ form.teacher_id }}
        {{ form.subject_id.label }} {{ form.subject_id }}
        {{ form.current.label }} {{ form.current }}
        {{ form.price.label }} {{ form.price }}
        {{ form.info.label }} {{ form.info }}

        <input type="submit" value="Save">
    </form>
    <div id="summernote"></div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.10/summernote.js"></script>
    <script>
        $('#info').summernote({
            placeholder: 'Hello bootstrap 4',
            tabsize: 2,
            height: 400
        });
    </script>
{% endblock %}