{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}{{ _('Class Info') }}{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}


{% block page_content %}
    {{ super() }}
    <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
        {# Enroll Info Table #}
        {% include 'schdl_class/enroll_info_table.html' %}

        {# Additional Agreement #}
        {% if current_class.school.agreement %}
            <div class="row">
                <div class="col">
                    <div class="alert alert-danger" role="alert">
                        {{ current_class.school.agreement | safe }}
                    </div>
                </div>
            </div>
        {% endif %}

        {# Class Info #}
        {{ current_class.info|safe }}
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
{% endblock %}