{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Class Info{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}


{% block page_content %}
    {{ super() }}
    <div class="row">
        <h1> Class information </h1>
    </div>
    <div class="row">
        <div class="col">
            {{ current_class.info|safe }}
        </div>
    </div>
    <div class="row">
        <table class="table table-hover table-bordered">
            <tbody>
            <tr>
                <th>School</th>
                <th>Subject</th>
                <th>Day</th>
                <th>Time</th>
                <th>Start/End Dates</th>
                <th>Pay</th>
            </tr>
            <tr>
                <td>{{ current_class.school.name }}</td>
                <td>{{ current_class.subject.name }}</td>
                <td>{{ current_class.subject.day_of_week }}</td>
                <td>{{ current_class.class_time_start }} - {{ current_class.class_time_end }}</td>
                <td>{{ current_class.class_start }} - {{ current_class.class_end }}</td>
                {% if current_class in current_student.classes %}
                    <td><a class="btn btn-success"
                           href="#"
                           role="button">{{ current_student.first_name }} {{ current_student.last_name }} already
                        enrolled for that class</a></td>
                {% elif current_user.stripe_id %}
                    <td>{{ current_student.first_name }} {{ current_student.last_name }} - <a class="btn btn-info"
                                                                                              href="{{ url_for('schdl_class.payment_class', class_id=current_class.id, student_id=current_student.id) }}"
                                                                                              role="button">Pay With
                        Stripe ${{ current_class.price }}</a></td>

                {% else %}
                    <td> To enroll {{ current_student.first_name }} {{ current_student.last_name }} - first add credit
                        card information
                        <!--Update Card Button-->
                        {% include 'payment/add_card_button.html' %}</td>
                {% endif %}
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
{% endblock %}