<div class="row">
    <div class="col">
        <div class="jumbotron">
            <h1 class="display-4">{{ current_class.subject.name }} at {{ current_class.school.name }}!</h1>
            <p class="lead"> Day: {{ current_class.day_of_week }}<br>
                {% if current_class.class_time_start and current_class.class_time_end %}
                    Time: {{ current_class.class_time_start | ctimeformat }}
                    - {{ current_class.class_time_end | ctimeformat }}<br>
                {% endif %}
                {% if current_class.class_start and current_class.class_end %}
                    Dates: {{ current_class.class_start | cdateformat }}
                    - {{ current_class.class_end | cdateformat }}<br>
                {% endif %}
            </p>
            <hr class="my-4">
            <div class="col text-center text-md-left">
            {% if current_class in current_student.classes %}
                <a class="btn btn-success"
                   href="#"
                   role="button">{{ current_student.first_name }} {{ current_student.last_name }} already
                    enrolled for that class</a>
            {% elif current_user.stripe_id %}
                Click to Enroll {{ current_student.first_name }} {{ current_student.last_name }}<br>
                <a class="btn btn-success"
                   href="{{ url_for('schdl_class.payment_class', class_id=current_class.id, student_id=current_student.id) }}"
                   role="button">
                    Complete Registration<br>Pay with your card ${{ current_class.price }}</a>
            {% else %}
                To enroll {{ current_student.first_name }} {{ current_student.last_name }} -
                First add credit card information
                <!--Update Card Button-->
                {% include 'payment/add_card_button.html' %}
            {% endif %}
            </div>

        </div>
    </div>
</div>
