{% extends "security/security_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}{{ _('Registration') }}{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}


{% block page_content %}
    {{ super() }}
    <div class="row justify-content-center text-center mt-5 pb-5">
    <div class="row"><H1>{{ _('Please select a School to continue') }}</H1></div>
        <div class="row">

            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Kipling Elementary</h5>
                        <p class="card-text">620 Shepherd Dr, Houston TX 77007</p>
                        <a href="https://enrichmentservices.com/summer-martial-arts-registration-kipling-elementary/"
                           class="card-link">Register</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Kipling Street Academy</h5>
                        <p class="card-text">1425 Kipling St, Houston TX 77006</p>
                        <a href="{{ url_for_security('register') }}" class="card-link">Register</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">The Kipling School on Floyd</h5>
                        <p class="card-text">4704 Floyd St, Houston TX 77007</p>
                        <a href="{{ url_for_security('register') }}" class="card-link">Register</a>
                    </div>
                </div>
            </div>
        </div>



        <div class="form-group row text-center alert alert-info mt-5" style="display: none"
             id="registration-form-title1">
            <h1>{{ _('<b>SPRING students</b>') }} <a
                    href="{{ url_for('security.login') }}">{{ _('LOGIN HERE') }}</a></h1>
        </div>
        <div class="row text-center alert alert-success mt-5" style="display: none"
             id="registration-form-title2">
            <h1>{{ _('NEW students register ') }}<a href="#" onclick="hideLinks2()">{{ _('HERE') }}</a></h1>
        </div>
    </div>


    <div class="row mt-5">
        <div class="col text-center" id="hide-on-click1">
            <h4>{{ _('Instructor Login') }} <a href="{{ url_for('security.login') }}">{{ _('HERE') }}</a></h4>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col text-center" id="hide-on-click1">
            <h4>{{ _('School Login') }} <a href="{{ url_for('security.login') }}">{{ _('HERE') }}</a></h4>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <img src="{{ url_for('static', filename='company_logo.png') }}"
             class="img-fluid mx-auto d-block">
        <h5 class="text-center"><i>{{ _(config.COMPANY_SLOGAN | safe) }}</i></h5>
    </div>

{% endblock %}


{% block scripts %}
    {{ super() }}
{% endblock %}
