{% block navbar %}

    <a class="navbar-brand" href="{{ config['COMPANY_LOGO_URL'] }}">{{ config.COMPANY_NAME }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- LEFT PART -->
        <ul class="navbar-nav mr-auto">

            {% if current_user.has_role('admin') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('dashboard.main') }}">{{ _('Admin Dashboard') }}</a>
                </li>
            {% endif %}
            {% if current_user.has_role('teacher') %}
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ url_for('dashboard.teacher_dashboard') }}">{{ _('Teacher Dashboard') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ url_for('dashboard.teacher_dashboard') }}">{{ _('Attendances') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ url_for('dashboard.teacher_class_schedule_dashboard') }}">{{ _('Class Schedule') }}</a>
                </li>
                {# Link for payrolls
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ url_for('dashboard.teacher_dashboard') }}">{{ _('Payments') }}</a>
                </li>
                #}
            {% endif %}
            {% if current_user.has_role('school') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('dashboard.school_dashboard') }}">{{ _('School Dashboard') }}</a>
                </li>
            {% endif %}
        </ul>

        <!--RIGHT PART-->
        <ul class="navbar-nav">
            {% if current_user.is_anonymous %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for_security('register') }}">{{ _('Register') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for_security('login') }}">{{ _('Sign In') }}</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user.edit') }}">{{ _('Settings') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for_security('logout') }}">{{ _('Logout') }}</a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
