{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}{{ _('Privacy') }}{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}


{% block page_content %}
    {{ super() }}
    <main class="col-10 offset-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2">
        <div class="jumbotron">
            <h1 class="display-4">{{ _('Agreement') }}</h1>
            <hr class="my-4">
            <p> {{ config.AGREEMENT | safe }} </p>
        </div>
    </main>

{% endblock %}


{% block scripts %}
    {{ super() }}
{% endblock %}